NEXT_PUBLIC_SITE_URL=YOUR_SITE_URL_HERE
GOOGLE_SHEET_MENU_URL=YOUR_GOOGLE_SHEET_MENU_URL_HERE
GOOGLE_SHEET_SCHEDULES_URL=YOUR_GOOGLE_SHEET_SCHEDULES_URL_HERE
NEXT_PUBLIC_UMAI_API_KEY=YOUR_UMAI_API_KEY_HERE